<!-- <ng-container *ngIf="params.value && params.data && params.data[params?.colDef?.field] && params.data[params?.colDef?.field].length; else noDataFound">
    <ng-container *ngFor="let item of params.data[params.colDef.field]; last as isLast">
        <a *ngIf="item?.staff?.upi" routerLink="/{{unit}}/unit/roster/details/{{item?.staff?.upi}}">{{item.fullname}}
        </a>
        <span *ngIf="!isLast && item['staff'] ">, </span>
    </ng-container>
</ng-container>
<ng-template #noDataFound>
    <span>--</span>
</ng-template> -->
John Smith, John Lee