<input type="checkbox" class="form-check-input" id="wrapchk" (click)="toggleWrap()" [(ngModel)]="wrapAll">
                <label class="form-check-label font-weight-normal" for="wrapchk">Wrap Text</label>
                <br/><br/><br/><br/>
 <div [ngClass]="{'wrapall': wrapAll}"> 
 <ag-grid-angular
 [domLayout]="'normal'" style="height: 850px; width: 100%;" 
                        id="myGrid"
    [enableSorting]="true" 
    [rowDragManaged]="true" 
    [animateRows]="true"
    [paginationPageSize]="paginationPageSize"
    class="ag-theme-balham"
    [gridOptions]="gridOptions"
    [groupDefaultExpanded]="groupDefaultExpanded"
    [suppressDragLeaveHidesColumns]="true"
    [rowGroupPanelShow]="rowGroupPanelShow"
    [rowData]="data" 
    [groupUseEntireRow]="true"
    (columnResized)="onColumnResized($event)"
    [defaultColDef]="defaultColDef"
    [suppressMakeColumnVisibleAfterUnGroup]="true"
    [columnDefs]="columns"
    [sideBar]="true"
    [pagination]="true"
    (gridReady)="onGridReady($event)"
    >
</ag-grid-angular>
</div>